.FAQ-container {
  width: 100%;
  height: auto;
}
.category-box {
  font-family: "Varta", sans-serif;
  display: flex;
  justify-content: start;
  padding: 2rem 0 0 0;
  margin-left: 5rem;
}

.category-box div {
  border-radius: 30px;
  margin-left: 0.2rem;
  padding: 0 0.5rem 0 0.5rem;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.category-box:not(:first-child) {
  color: #fcc74c;
}

.category-div:hover {
  text-decoration: none;
}

.results-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  width: 80%;
  margin-top: 1rem;
  gap: 1rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
}

.focused {
  color: #fcc74c !important;
}

.no-posts {
  display: flex;
  justify-content: center;
  font-family: "Varta", sans-serif;
  padding: 4rem;
  color: #fcc74c;
}

@media only screen and (max-width: 600px) {
  .results-container {
    grid-template-columns: 1fr;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 700px) {
  #category-div {
    display: none;
  }
  .category-box {
    justify-content: center;
    margin: 0;
  }
}
