article {
  border-radius: 80px;
}

#accordion {
  min-height: 85px;
}
#accordion:hover {
  background-color: #f3f1ef;
}

.MuiTypography-root {
  color: #273353;
}

article h2 {
  padding-bottom: 0.5rem;
  font-family: "Varta", sans-serif;
  font-size: 12px;
  color: #273353;
}

article p {
  font-family: "Varta", sans-serif;
  font-size: 12px;
}

.MuiAccordionSummary-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.MuiAccordionDetails-root p {
  font-family: "Varta", sans-serif;
  font-size: 12px !important;
}
