@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
body {
  background-color: #369dbd;
}

.header-app {
  display: flex;
  align-items: center;
  margin: 1.5rem;
  justify-content: space-between;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-box > * {
  margin-right: 1rem;
}

.logo-box p {
  color: #fcc74c;
  font-size: 1.15rem;
  font-weight: 600;
}

.login-box {
  display: flex;
  align-items: center;
}

.login-box > * {
  margin-right: 1rem;
}

.login-box p {
  color: #fcc74c;
  font-size: 1.15rem;
  font-weight: 500;
}

.helpcenter p {
  color: #dbdbdb;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.login-button {
  height: 1.6rem;
  width: 4rem;
  border-radius: 10px;
  background-color: #5d4ce0;
  border: none;
  font-size: 16px;
  color: #dbdbdb;
}

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-big-box {
  display: flex;
  justify-content: center;
}

.icon-small-box {
  padding: 1rem;
  width: 20%;
}

.icon-small-box img {
  scale: 0.8;
}

.icon-small-box p {
  text-align: center;
  scale: 0.9;
  color: #dbdbdb;
  padding-left: 1rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.info-box h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fcc74c;
}

.info-box p {
  padding-bottom: 0.5rem;
  color: #dbdbdb;
}
.intro-box h2 {
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fcc74c;
  padding: 1rem;
}

.didyoufound {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.didyoufound h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fcc74c;
  padding: 0.5rem;
}

.did-buttons button {
  margin: 1rem;
}
